

    .nav {
    justify-content: center;
    text-align: justify;
    font-size: large;
    
        }



    ul li {
    list-style-type:none; 
    text-align: justify;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    line-height: 1.7;
        }
  
    .box {

    display: flex;
    justify-content: center;
    margin-top: 20px;   
    }


    h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    text-align: justify;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-size: 30px;
   
    }


    p {
        display: flex;
        text-align:justify
        margin-top: 20px;
        text-align: justify;
        margin-left: 280px;
        margin-right: 280px;
        font-family: 'Oxygen', sans-serif;
        font-size: 24px;
        line-height: 1.7;
        
    }
    


    .cont {  
        
        background-color: #1D5D9B;
        width: 60%; 
        font-family: 'Oxygen', Arial, Helvetica, sans-serif;
       
    }

    .center {
    text-align: center;
    margin-top: 3%;
    }

    body {
    background-image: url('./img/17973908.jpg');
      background-size: cover; 
      background-position:25%; 
      background-repeat: no-repeat;
    
    }

    .navi {
    background-color:#1D5D9B;
    opacity: 100%;
    }

    .color {
    color: white;
    }

   .marg{ 
    margin-top: 5%;
    margin-bottom: 5
    }
    
    .mart {
        margin-bottom: 2ch;
    }


    .pa {
    padding-block: 15%;
    }

    .f {
    
    width: 1000px;

    }

  

