

    .nav {
    justify-content: center;
    text-align: justify;
        }



    ul li {
    list-style-type:none; 
    text-align: justify;
        }
  

    .box
        {
    display: flex;
    justify-content: center;
    margin-top: 20px;   
        }


    h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    text-align: justify;
    }


    p {
        display: flex;
        text-align:justify
        margin-top: 20px;
        text-align: justify;
        margin-left: 280px;
        margin-right: 280px;
    }



    .cont {  
        
        background-color: #28a796;
        width: 60%; 
        padding-top: 1%;
    
    }

